<% provide(:title, "Games") %>
<div class="span6">
  <table border="1" class="games-table">
    <tr>
      <th>Game id</th>
      <th>Creator</th>
      <th>Participant</th>
      <th>Status</th>
      <th>Winner</th>
      <th>Actions</th>
    </tr>
    <% @games.each do |game| %>
      <tr 
        <% if game.closed? %>
          class="closed"
        <% end %>
        >
        <td><%= game.id %></td>
        <td><%= username(game.creator) %></td>
        <td><%= username(game.participant) %></td>
        <td><%= game.status %></td>
        <td><%= username(game.winner) %></td>
        <td>
        <% if game.status == "new" && game.creator!= current_user.id%>
        <%= link_to "Join game", join_game_path(game), class:"btn btn-mini btn-success" %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

